.about-main-div {
    display: grid;
    grid-template-columns: 5fr 7fr;
    gap: 40px;
}

.about-head {
    color: #404040;
    font-family: "Freight Text Pro Book", serif;
    line-height: 1.4 !important;
    font-size: 28px;
    font-weight: bold;
}

.about-para {
    color: #404040;
    font-family: "Freight Sans Book", "Freight Sans Book", sans-serif;
    line-height: 1.5 !important;
    font-size: 16px;
    font-weight: normal;
}

.about-page-image {
    width: 100%;
}

.about-horizental-line-div {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.about-horizental-line {
    width: 400px;
}

@media screen and (max-width: 576px) {
    .about-main-div {
        grid-template-columns: 1fr;
    }

    .about-head {
        order: 2;
    }

    .about-head h2 {
        font-size: 28px;
        margin-bottom: 10px;
    }
}